@mixin crossBrowser($property, $css) {
    -webkit-#{$property}: $css;
    -moz-#{$property}: $css;
    -o-#{$property}: $css;
    -ms-#{$property}: $css;
    #{$property}: $css;
}

@mixin display-flex {
    display: flex;
}

@mixin flex-center {
    @include display-flex();
    justify-content: center;
    align-items: center;
}

@mixin flex-justify-center {
    justify-content: center;
}

@mixin flex-justify-between {
    justify-content: space-between;
}

@mixin flex-align-center {
    align-items: center;
}


@mixin width-col-1 {
    width: 8.333333333%
}

@mixin width-col-2 {
    width: 16.666666666%
}

@mixin width-col-3 {
    width: 25%
}

@mixin width-col-4 {
    width: 33.333333333%
}

@mixin width-col-5 {
    width: 41.666666666%
}

@mixin width-col-6 {
    width: 50%;
}

@mixin width-col-7 {
    width: 58.333333333%
}

@mixin width-col-8 {
    width: 66.666666666%
}

@mixin width-col-9 {
    width: 75%
}

@mixin width-col-10 {
    width: 83.333333333%
}

@mixin width-col-11 {
    width: 91.666666666%
}

@mixin width-col-12 {
    width: 100%;
}



