$iphone: 20em; // 320px
$iphone678: 23.4375em; // 375px
$iphone678plus: 25.875em; // 414px

$ipad: 48em; // 768px

$size400: 25em; // 400px
$size420: 26.25em; // 420px
$size850: 53.125em; // 850px
$size560: 35em; // 560px;

$screen_900: 56.25em; // 900px
$screen_medium: 75em; // 1200px
$screen_small: 31.25em; // 500px
$tc70: 90em; // 1440px
$tc70Lanscape: 141.25em; // 2260px
$description-size: 1em;

$tc72: 22.5em; // 360px
$tc72Lanscape: 35.375em; // 566px

$main-color: #02ae50;

$big-screen-2560: 160em;
$big-screen-3840: 240em;