$break-xxxs: 479px;
$break-xxs: 575px;
$break-xs: 767px;
$break-sm: 991px;
$break-md: 1199px;

$lightblue: #B6E2F7;
$darkblue: #437DBF;
$blue: #6EC3EF;
$grey: #CCCCCC;
$grey2: #D7D7D6;
$colortext: #333333;
$black: #010101;
$red: #E95F63;
$green: #36D242;
$bg: #f4f4f4;
$white: #fff;
$bg2: #FAFAFA;
$bg3: #f4f4f4;
$bg4: #F6F6F6;
$bg5: #eeeeee;
$lightcolortext: #868686;
$orange: #E67E22;
$yellowbg: #ffffec;
$after-care: #1abc9c;
$sale-extras: #ff5316;
$accessories: #6563e2;
$accessories-sale-extras: #36d242;
