.app-container {
    display: flex;

    .left-content-container {
        width: 20%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        height: 100%;
    }

    .right-content-container {
        width: 100%;
    }
}